body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url('https://img.redbull.com/images/c_limit,w_1500,h_1000/f_auto,q_auto/redbullcom/2022/8/18/ealrds5gzmtdj4xdxnf4/games-red-bull-solo-q-holanda-2021');
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
}

.main-container {
    position: relative;
    z-index: 1;

    width: 400px;
    margin: 80px auto;
    padding: 30px;

    background: rgba(20,25,30,0.95);
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 0 20px rgba(0,255,255,0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pergunta {
    font-size: 18px;
    margin-bottom: 20px;
}

.alternativas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alternativas button {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid transparent;

    background: rgba(255,255,255,0.05);
    color: white;
    cursor: pointer;

    transition: 0.3s;
}

.alternativas button:hover {
    border-color: cyan;
    background: rgba(0,255,255,0.1);
    transform: scale(1.03);
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);

    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    background: rgba(20,25,30,0.95);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: white;

    box-shadow: 0 0 20px cyan;
    animation: aparecer 0.4s;
}

@keyframes aparecer {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.modal button {
    margin-top: 20px;
    padding: 10px 20px;
}

#confetti {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 998;
}

* {
    color: white;
}

#fechar-modal{
    color: black;
}

.logo img {
    width: 50px;
    border: 2px solid rgba(0,255,255,0.6);
    border-radius: 15px;
}

.header-container button{
    color: black;
}
